.w100 {
    width: 100%;
}
.bg-blue {
    background-color: cornflowerblue;
    color: white;
}
.bg-blue a {
    text-decoration: none;
    color: white;
}
.bg-blue ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.main-art {
    background-image: url(//unsplash.it/400/200);
    height: 40vh;
}
.media-nerd {
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.secondary-art {
    background-image: url(//unsplash.it/400/200);
    height: 20vh;   
}
.g-underline {
    border-bottom: 2px solid cornflowerblue;
    display: inline-block;
    width: fit-content;
}
.overline {
    border-top: 2px solid cornflowerblue;
    display: inline-block;
    width: fit-content;
}